
torch==2.5.1 
torchvision==0.20.1 
torchaudio==2.5.1
librosa
einops
x-transformers
tqdm
PyYAML
omegaconf
transformers
pyaudio
accelerate
matplotlib
wandb
ema_pytorch
jiwer==3.1.0
zhon
zhconv
funasr
encodec
prefigure
